// Bootstrap styles defined below on the bower block. Override
// default styles here.

@import "helpers/variables";
@import url(https://fonts.googleapis.com/css?family=Pacifico); //CSS import
@import "helpers/placeholders";
@import "helpers/mixins";
@import "components/buttons";

//bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "../../bower_components/bootstrap-social/bootstrap-social.scss";
//endbower

@import "layout/header";
@import "layout/footer";
@import "layout/modal";
@import "pages/index";
@import "pages/home";
@import "pages/about";
@import "pages/customer_dashboard";
@import "pages/customer_support";


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  // account for Bootstrap fixed top navbar height
  margin-top: 50px; //TODO: navbar variable
}


// .btn-form-login {
//   text-align: center;
// }
//
// .icon-container,
// .media {
//   margin-bottom: 20px;
//   margin-top: 20px;
//
//   .glyphicon, .fa {
//     color: $bsk-primary-color;
//     font-size: x-large;
//   }
//   .media-body {
//     .media-heading {
//       color: $bsk-dark-grey;
//     }
//     p {
//       color: $bsk-dark-grey;;
//     }
//   }
// }
//
// .sign-in-form {
//   visibility: hidden;
//   padding-top: 15px;
//   padding-right: 15px;
// }
//
// .btn {
//   text-transform: uppercase;
// }
// .btn-primary {
//   background: $bsk-primary-color;
//   color: white;
//   border-color: $bsk-primary-color;
//   &.btn-signing {
//     text-transform: uppercase;
//   }
//
//   &:hover {
//     background-color: $bsk-medium-purple;
//   }
// }
//
// .btn-default {
//   background: $bsk-secondary-color;
//   color: $bsk-dark-grey;
//   font-weight: normal;
//   border-color: $bsk-secondary-color;
//   &:hover {
//     background: $bsk-dark-grey;
//     color: $bsk-secondary-color;
//   }
// }
//
// .jumbotron {
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 100%;
//   background-color: white;
//   color: $bsk-dark-grey;
//   padding-top: 100px;
//   padding-bottom: 100px;
//   min-height: 500px;
// }
//
// .eighty {
//   width: 80%;
//   margin: 0 auto;
// }
//
// .welcome-phrase {
//   color: $bsk-dark-grey;
//   font-family: sans-serif;
//   text-align: center;
//   position: relative;
// }
//
// .custom-glyphicon {
//   color: $bsk-primary-color;
//   font-size: x-large;
//   font-weight: 700;
// }
//
// .enlarged {
//   text-align: center;
//   font-size: large;
// }
//
// .displaced-top-hr {
//   padding-top: 10px;
//   hr {
//     border-color: $bsk-primary-color;
//     color: $bsk-primary-color;
//   }
// }
//
// .purple-haze {
//   color: $bsk-primary-color;
//   text-align: center;
//   font-family: sans-serif;
//   h3, hr {
//     color: $bsk-primary-color;
//     border-color: $bsk-primary-color;
//   }
//   h3.kapitalized {
//     text-transform: capitalize;
//   }
// }
//
// .carousel-indicators {
//   bottom: 30px;
//   li {
//     background-color: $bsk-primary-color;
//     border: 1px solid $bsk-primary-color;
//   }
// }
//
// .carousel-inner {
//   .step-number {
//     background-color: $bsk-primary-color;
//     color: white;
//     margin: 0 auto;
//     border-radius: 10px;
//     text-align: center;
//     width: 50px;
//     height: 50px;
//     font-size: xx-large;
//   }
//
//   .carousel-img-wrapper {
//     text-align: center;
//     margin-top: 165px;
//     margin-bottom: 60px;
//     img {
//       width: 250px;
//     }
//   }
//
//   .carousel-row-wrapper {
//     text-align: center;
//     margin-top: 20px;
//     margin-bottom: 40px;
//     display: block;
//     height: 13em;
//     overflow: hidden;
//   }
//
//   .carousel-caption {
//     color: $bsk-dark-grey;
//     font-size: 20px;
//     top: 60px;
//   }
//   .last {
//     color: $bsk-primary-color;
//   }
//
//   .follow-us {
//     display: flex;
//     text-align: center;
//     .navbar-nav {
//       display: inline-block;
//     }
//   }
// }
//
// .carousel-control {
//
//   .glyphicon {
//     color: $bsk-primary-color;
//   }
// }
//
// .hidden {
//   visibility: hidden;
// }
//
// .displaced-top {
//   margin-top: 15px;
// }
//
// .statement {
//   text-align: center;
//   text-transform: uppercase;
//   color: $bsk-dark-grey;
// }
//
// address {
//   font-size: 80%;
//   margin: 0;
//   color: #0f0f0f;
// }
//
// body {
//   padding: 50px 0 0 0;
//   z-index: 0;
// }
//
//
//
// hr.purple-haze {
//   border-color: #9424D0;
//
//   &.left {
//     margin-left: 15px;
//   }
//
//   &.right {
//     margin-right: 15px;
//   }
// }
//
// .row-content {
//   min-height: 50px;
//   margin: 50px -15px 15px -15px;
// }
