// Bootstrap styles defined below on the bower block. Override
// default styles here.

@import "helpers/variables";
@import url(https://fonts.googleapis.com/css?family=Pacifico); //CSS import
@import "helpers/placeholders";
@import "helpers/mixins";
@import "components/buttons";

//bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "../../bower_components/bootstrap-social/bootstrap-social.scss";
//endbower

@import "layout/header";
@import "layout/footer";
@import "layout/modal";
@import "pages/index";
@import "pages/home";
@import "pages/about";

@import "pages/atyourservice";
@import "pages/customer_dashboard";
@import "pages/customer_support";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  // account for Bootstrap fixed top navbar height
  margin-top: $navbar-height;
}
