@import url(../styles/bootstrap.css);
@import url(../styles/bootstrap-theme.css);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
.navbar-default {
  opacity: 0.85; }
  .navbar-default a.navbar-brand {
    width: 65px; }
  .navbar-default .navbar-brand {
    padding: 0 15px;
    height: 50px; }
  .navbar-default .row-header {
    margin: 0 auto;
    padding: 0; }

.roominess {
  padding: 20px 0; }

.room-under {
  padding-bottom: 20px; }

.row-footer {
  background-color: #494948;
  margin: 0 auto; }
  .row-footer a {
    color: #9424D0; }
  .row-footer a:hover {
    color: #B000B0; }
  .row-footer .info {
    color: #C3C3CB; }
    .row-footer .info .row {
      padding: 10px 0; }
      .row-footer .info .row label {
        font-weight: normal;
        font-size: medium; }
      .row-footer .info .row .smaller {
        font-size: medium; }
      .row-footer .info .row .thin {
        border-color: #9424D0;
        color: #9424D0;
        margin: 15px 0 0 0; }
    .row-footer .info .topless {
      padding-top: 0; }
    .row-footer .info .bottomless {
      padding-bottom: 0; }
    .row-footer .info .form-group.bottomless {
      margin-bottom: 0; }
    .row-footer .info .btn-twitter {
      font-size: medium;
      padding-left: 0; }
  .row-footer h4.hightened {
    color: white;
    padding-bottom: 10px;
    text-transform: uppercase; }

.timeline-Tweet {
  padding: 10px 0; }

.sign-up-banner {
  color: white;
  background-color: #9424D0;
  border-bottom: 2px solid white;
  font-size: large;
  margin: 0;
  min-height: 150px;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center; }
  .sign-up-banner .btn-primary {
    background: #B000B0;
    border-color: white;
    border-radius: 0;
    color: white; }

.copyright {
  background-color: #BA94D1;
  text-align: center; }
  .copyright .navbar-nav {
    padding: 0 10px 40px; }
  .copyright p.eighty {
    padding: 20px 0 20px 0; }

.bokskar-modal-lg {
  width: 90%; }
  .bokskar-modal-lg .modal-body {
    height: calc(75vh);
    min-height: 400px; }

.main {
  display: block;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 1;
  top: -96px;
  margin-bottom: -96px;
  background-image: none; }
  .main .video .page-overview,
  .main .video .page-overview .section-image {
    background-image: none;
    pointer-events: auto; }
  .main .section-background .section-bleed {
    pointer-events: auto;
    -webkit-filter: blur(0.001px); }
  .main .section-foreground {
    pointer-events: auto;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    width: 100%; }
    .main .section-foreground .bokskar-headline {
      /*
      .section-image {
        background-size: cover;
        background-position: center center;
        position: absolute;
        z-index: -1;
        min-height: 600px;
        height: 100vh;
        width: 100%;
      }
      */
      height: 100vh;
      min-height: 100vh;
      position: relative;
      z-index: 2; }
      .main .section-foreground .bokskar-headline .section-content {
        font-style: normal;
        font-family: "Segoe UI Light", sans-serif;
        font-size: 18px;
        line-height: 1.45;
        text-align: center;
        margin-bottom: 0;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .main .section-foreground .bokskar-headline .section-content .bokskar-copy {
          color: white;
          margin-left: auto;
          margin-right: auto;
          padding: 15px; }
        .main .section-foreground .bokskar-headline .section-content .sign-up-container {
          margin: 0 auto; }
          .main .section-foreground .bokskar-headline .section-content .sign-up-container .btn-lg {
            font-size: xx-large;
            text-transform: uppercase;
            height: 60px; }
        .main .section-foreground .bokskar-headline .section-content .btn + .btn {
          margin: 25px; }
    .main .section-foreground .icon-chevron-container {
      bottom: 10px;
      font-size: xx-large;
      position: fixed;
      text-align: center; }
      .main .section-foreground .icon-chevron-container span.glyphicon-chevron-down {
        color: #9424D0; }

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; }

.strike > span {
  position: relative;
  display: inline-block; }

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #9424D0; }

.strike > span:before {
  right: 100%;
  margin-right: 15px; }

.strike > span:after {
  left: 100%;
  margin-left: 15px; }

.v-divider {
  margin-left: 5px;
  margin-right: 5px;
  width: 1px;
  height: 100%;
  border-left: 1px yellow; }

.grn-text {
  color: #66ff33; }

.row.vdivide [class*='col-']:not(:last-child):after {
  background: #9424D0;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 70px; }

/* Header bar */
header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #C3C3CB;
  background: #9424D0;
  margin-top: 2px; }
  header.title {
    padding-left: 10px; }
  header.info {
    padding-right: 10px; }

/* Wraps both the sidebar and the main content pane */
.wrapper {
  background: #9424D0;
  overflow-x: hidden; }

/* Sidebar */
.sidebar {
  width: 200px;
  margin-left: -150px;
  float: left;
  background: #9424D0; }
  .sidebar.displayed {
    margin-left: 0; }
  .sidebar ul {
    list-style: none;
    padding: 0; }
    .sidebar ul li {
      width: 100%; }
      .sidebar ul li a {
        color: #C3C3CB; }
        .sidebar ul li a:hover {
          color: #9424D0; }
      .sidebar ul li:first-child a {
        color: #9424D0;
        background: #C3C3CB; }

/* Main content */
.main-content {
  width: calc(100% - 50px);
  margin-left: 50px;
  background: white;
  height: 100%; }

.sidebar,
.main-content {
  transition: margin 200ms ease-out; }

.sidebar.displayed + .main-content {
  margin-left: 200px; }

.btn-primary {
  color: #fff;
  background-color: #BA94D1;
  border-color: #BA94D1; }

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #B000B0;
  border-color: #B000B0; }

.btn-primary:hover {
  color: #fff;
  background-color: #B000B0;
  border-color: #B000B0; }

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #B000B0;
  border-color: #B000B0; }

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #B000B0;
  border-color: #B000B0; }

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-image: none; }

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus {
  background-color: #BA94D1;
  border-color: #BA94D1; }

.btn-primary .badge {
  color: #BA94D1;
  background-color: #fff; }

html,
body {
  background-color: white;
  font-family: 'Segoe UI', Segoe UI, sans-serif;
  font-size: 16px; }

.full-width {
  width: 100%; }

body .container-fluid {
  padding-left: 0;
  padding-right: 0; }

.btn-form-login {
  text-align: center; }

.icon-container,
.media {
  margin-bottom: 20px;
  margin-top: 20px; }
  .icon-container .glyphicon, .icon-container .fa,
  .media .glyphicon,
  .media .fa {
    color: #9424D0;
    font-size: x-large; }
  .icon-container .media-body .media-heading,
  .media .media-body .media-heading {
    color: #494948; }
  .icon-container .media-body p,
  .media .media-body p {
    color: #494948; }

.sign-in-form {
  visibility: hidden;
  padding-top: 15px;
  padding-right: 15px; }

.btn {
  text-transform: uppercase; }

.btn-primary {
  background: #9424D0;
  color: white;
  border-color: #9424D0; }
  .btn-primary.btn-signing {
    text-transform: uppercase; }
  .btn-primary:hover {
    background-color: #B000B0; }

.btn-default {
  background: #C3C3CB;
  color: #494948;
  font-weight: normal;
  border-color: #C3C3CB; }
  .btn-default:hover {
    background: #494948;
    color: #C3C3CB; }

.jumbotron {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: white;
  color: #494948;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 500px; }

.eighty {
  width: 80%;
  margin: 0 auto; }

.welcome-phrase {
  color: #494948;
  font-family: sans-serif;
  text-align: center;
  position: relative; }

.custom-glyphicon {
  color: #9424D0;
  font-size: x-large;
  font-weight: 700; }

.enlarged {
  text-align: center;
  font-size: large; }

.displaced-top-hr {
  padding-top: 10px; }
  .displaced-top-hr hr {
    border-color: #9424D0;
    color: #9424D0; }

.purple-haze {
  color: #9424D0;
  text-align: center;
  font-family: sans-serif; }
  .purple-haze h3, .purple-haze hr {
    color: #9424D0;
    border-color: #9424D0; }
  .purple-haze h3.kapitalized {
    text-transform: capitalize; }

.carousel-indicators {
  bottom: 30px; }
  .carousel-indicators li {
    background-color: #9424D0;
    border: 1px solid #9424D0; }

.carousel-inner .step-number {
  background-color: #9424D0;
  color: white;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: xx-large; }
.carousel-inner .carousel-img-wrapper {
  text-align: center;
  margin-top: 165px;
  margin-bottom: 60px; }
  .carousel-inner .carousel-img-wrapper img {
    width: 250px; }
.carousel-inner .carousel-row-wrapper {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  display: block;
  height: 13em;
  overflow: hidden; }
.carousel-inner .carousel-caption {
  color: #494948;
  font-size: 20px;
  top: 60px; }
.carousel-inner .last {
  color: #9424D0; }
.carousel-inner .follow-us {
  display: flex;
  text-align: center; }
  .carousel-inner .follow-us .navbar-nav {
    display: inline-block; }

.carousel-control .glyphicon {
  color: #9424D0; }

.hidden {
  visibility: hidden; }

.displaced-top {
  margin-top: 15px; }

.statement {
  text-align: center;
  text-transform: uppercase;
  color: #494948; }

address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f; }

body {
  padding: 50px 0 0 0;
  z-index: 0; }

.navbar-default {
  background: white;
  color: #494948;
  text-transform: uppercase; }
  .navbar-default .navbar-nav > .active > a {
    color: #494948;
    text-transform: uppercase;
    border-bottom: 4px solid #9424D0;
    background: white; }
    .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #494948;
      text-transform: uppercase;
      border-bottom: 4px solid #9424D0;
      background: white; }
  .navbar-default .navbar-nav > .open > a {
    text-transform: uppercase; }
    .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      text-transform: uppercase; }

.navbar-nav .open .dropdown-menu {
  text-transform: uppercase; }
  .navbar-nav .open .dropdown-menu > li > a {
    text-transform: uppercase; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:hover {
  text-transform: uppercase; }

hr.purple-haze {
  border-color: #9424D0; }
  hr.purple-haze.left {
    margin-left: 15px; }
  hr.purple-haze.right {
    margin-right: 15px; }

.row-content {
  min-height: 50px;
  margin: 50px -15px 15px -15px; }

/*# sourceMappingURL=main-styles.css.map */
