#home-page {

  // Jumbotron and video loop
  .jumbotron {
    background: transparent;

    .container {
      color: white;
    }

    video {
      position: absolute;
      top: $navbar-height;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      // TODO: Some javascript needed to make the video responsive
      width: 100%;
      filter: brightness(60%) grayscale(70%);

    }
  }

  // Main
  main {
    padding-top: 20px;
    background: white;

    // grid-paper background for the offers
    .offers {
      margin-top: -50px;
      padding: 30px 0;
      background-size: 10px 10px;
      background-color: #f5f5f5;
      background-image: linear-gradient(to right, #eee 1px, transparent 1px),
                        linear-gradient(#eee 1px, transparent 1px);
    }
  }

  .hr-text-welcome {
    @include fancy-hr($font-size: 2em, $color-line: $bsk-primary-color);
  }

  .hr-text-offer {
    @include fancy-hr($font-size: 2em, $align: left,
      $color: $bsk-primary-color,
      $color-line: $bsk-primary-color,
      $bg-color: #F5F5F5);
  }

}
