@import "../helpers/variables";

#main-footer {
  background: $bsk-footer-dark;

  // info section
  .footer-info {
    h4 {
      padding-top: 10px;
      color: white;
    }

    li {
      font-size: small;
      line-height: 1.5em;
      padding-bottom: 5px;
      color: $bsk-secondary-color;
    }
  }

  // bottom section (copyright + social icons)
  .footer-bottom {
    background: $bsk-light-purple;

    .copyright {
      small {
        color: $bsk-medium-purple;
      }

      .navbar-nav {
        padding: 0 10px 40px;
      }
    }

    .social {
      padding: 10px 0;
    }
  }
}

// --------------
// Sign up banner
// --------------
.sign-up-banner {
  color: white;
  background-color: $bsk-primary-color;

  border-top: 2px solid white;
  border-bottom: 2px solid white;

  // min-height: 150px;
  padding-bottom: 30px;
  padding-top: 30px;

  .btn-primary {
    background: $bsk-medium-purple;
    border-color: white;
    border-radius: 0;
    color: white;

    &:hover {
      border-color: white;
    }
  }
}
