@import "../helpers/variables";

#main-footer {
  background: $bsk-light-purple;
}

// --------------
// Sign up banner
// --------------
.sign-up-banner {
  color: white;
  background-color: $bsk-primary-color;

  border-top: 2px solid white;
  border-bottom: 2px solid white;

  // min-height: 150px;
  padding-bottom: 30px;
  padding-top: 30px;

  .btn-primary {
    background: $bsk-medium-purple;
    border-color: white;
    border-radius: 0;
    color: white;

    &:hover {
      border-color: white;
    }
  }
}

// Copyright
// ---------
.copyright {
  background-color: $bsk-light-purple;
  // text-align: center;

  .navbar-nav {
    padding: 0 10px 40px;
  }
}

// .roominess {
//   padding: 20px 0;
// }
//
// .room-under {
//   padding-bottom: 20px;
// }
//
// .row-footer {
//   background-color: $dark-grey;
//   margin: 0 auto;
//
//   a {
//     color: $primary-color;
//   }
//
//   a:hover {
//     color: $medium-purple;
//   }
//
//   .info {
//     color: $secondary-color;
//
//     .row {
//       padding: 10px 0;
//
//       label {
//         font-weight: normal;
//         font-size: medium;
//       }
//
//       .smaller {
//         font-size: medium;
//       }
//
//       .thin {
//         border-color: $primary-color;
//         color: $primary-color;
//         margin: 15px 0 0 0;
//       }
//     }
//
//     .topless {
//       padding-top: 0;
//     }
//
//     .bottomless {
//       padding-bottom: 0;
//     }
//
//     .form-group.bottomless {
//       margin-bottom: 0;
//     }
//
//     .btn-twitter {
//       font-size: medium;
//       padding-left: 0;
//     }
//   }
//
//   h4.hightened {
//     color: white;
//     padding-bottom: 10px;
//     text-transform: uppercase;
//   }
// }
//
// .timeline-Tweet {
//   padding: 10px 0;
// }
//

//

//
//   p.eighty {
//     padding: 20px 0 20px 0;
//   }
// }
