@import "../helpers/variables";

.navbar-default {
  text-transform: uppercase;

  .navbar-nav {
    li a span {
      border-bottom: 5px solid transparent;
    }
    li.active a span {
      padding-bottom: 12px;
      border-bottom: 5px solid $bsk-primary-color;
      transition: border-color .5s ease;
    }
  }
}

a.navbar-brand {
  padding-left: 5px;
}
