@import "../helpers/variables";

.navbar-default {
  opacity: 0.85;

  a.navbar-brand {
    width: 65px;
  }

  .navbar-brand {
    padding: 0 15px;
    height: 50px;
  }

  .row-header {
    margin: 0 auto;
    padding: 0;
  }

}
