<div class="container eighty">
  <!-- Lead In Paragraph -->
  <div class="row lead-in">
    <div class="col-lg-6">
      <h2 class="text-uppercase purple">Welcome To the Future</h2>
      <div style="width: 100px">
        <hr/>
      </div>
      <h3>Freedom to save, driven to perform.</h3>
      <p>In today's world, the experience of owning a vehicle is filled with cost which could break the bank. with all of those costs adding up after two or five years, the total cost you spend is often two or three times the value of the car itself. So
        why spend that money knowing you may never recoup those funds?</p>
      <p>BoksKar is a new way to own a car. We maintain, we insure, we keep it super clean, and we even provide curbside valet service anywhere in the world. Not only do we provide those services, but we also provide livery and delivery services anywhere
        in the world as well. Its the BoksKar way.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-responsive center-block" src="https://dl.dropboxusercontent.com/s/1jj7nmq9eh6l4nf/desert-road-bokskar.png?dl=0" width="400" height="300" alt="mobile and desktop app">
    </div>
  </div>
  <br/>
  <br/>

  <!-- Best Customer Support Available -->
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <p class="text-center"><i class="fa fa-2x fa-globe"></i></p>
      </div>
      <div class="row">
        <div class="col-lg-1 col-lg-offset-3">
          <hr/>
        </div>
        <div class="col-lg-4">
          <h4 class="statement text-center">Best Customer Support Available</h4>
        </div>
        <div class="col-lg-1">
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <p class="text-center">We work hard, so you don't have to Period</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Purple line -->
  <div class="row">
    <div class="col-lg-12 purple-haze">
      <hr/>
    </div>
  </div>

  <div class="row">
    <div id="ays-carousel-steps" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators" style="bottom: 0px;">
        <li data-target="#ays-carousel-steps" data-slide-to="0" class="active"></li>
        <li data-target="#ays-carousel-steps" data-slide-to="1"></li>
        <li data-target="#ays-carousel-steps" data-slide-to="2"></li>
        <li data-target="#ays-carousel-steps" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <!-- At Your Service -->
            <div class="row carousel-row-wrapper">
                <div class="row">
                    <span class="fa fa-2x fa-thumbs-up"></span>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-lg-offset-4">
                    <h5 class="statement text-center">At Your Service.</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-lg-offset-4">
                    <p class="text-center">24/7/365 Valet Services</p>
                    <p class="text-center">3 Levels of Concierge Services</p>
                    <p class="text-center">Direct Link Video or Voice Services</p>
                  </div>
                </div>
          </div>
        </div>
        <div class="item">
          <!-- Help is on the way -->
          <div class="row carousel-row-wrapper">
            <div class="row">
              <span class="fa fa-2x fa-road"></span>
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-4">
                <h5 class="statement text-center">Help is on the way.</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-4">
                <p class="text-center">24/7/365 Roadside Assistance</p>
                <p class="text-center">24/7/365 Vehicle Replacement</p>
                <p class="text-center">Maintenance Free Service</p>
                <p class="text-center">Global OnStar Support</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- We work here -->
          <div class="row carousel-row-wrapper">
            <div class="row">
              <span class="fa fa-2x fa-heart"></span>
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-4">
                <h5 class="statement text-center">We work here.</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-4">
                <p class="text-center">100% NA Customer Support</p>
                <p class="text-center">100% SA Customer Support</p>
                <p class="text-center">100% EU Customer Support</p>
                <p class="text-center">100% ASIA Customer Support</p>
                <p class="text-center">Multilingual Team Members</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- State of the Art -->
          <div class="row carousel-row-wrapper">
            <div class="col-lg-12">
              <div class="row">
                <div class="enlarged">
                  <span class="fa fa-2x fa-cloud"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                  <h5 class="statement text-center">State of the Art.</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                  <p class="text-center">24/7/365 Support Center</p>
                  <p class="text-center">Secure Cloud Computing</p>
                  <p class="text-center">Local Time Support</p>
                  <p class="text-center">24/7 Staff</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Purple line -->
  <div class="row">
    <div class="col-lg-12 purple-haze">
      <hr/>
    </div>
  </div>

  <!-- Commitment -->
  <div class="row row-content">
    <div class="col-lg-3 col-lg-offset-3">
      <h2 class="text-uppercase">Commitment</h2>
    </div>
    <div class="col-lg-6 text-">
      <blockquote>
        <p>&ldquo;It's not a choice, but our act to outperform.&rdquo;</p>
        <footer>Rudy Ferraz, BOKSKar CEO</footer>
      </blockquote>
    </div>
  </div>
</div>
