<div id="customer-support">
  <div class="jumbotron">
    <div class="container text-center">
      <h1>AT YOUR SERVICE</h1>
      <p>Welcome to the future of vehicle ownership. Drive. Any Where. Any Time.</p>
      <a href="#" class="btn btn-lg btn-default">SIGN ME UP.</a>
    </div>
  </div>

  <div class="container">
    <!-- Commitment -->
    <section class="row hidden-xs">
      <div class="col-xs-6">
        <h2 class="text-right">COMMITMENT</h2>
      </div>
      <div class="col-xs-6">
        <blockquote>
          "It's not a choice, but our act to outperform."
          <footer>Rudy Ferraz, BOKSKar CEO</footer>
        </blockquote>
      </div>
    </section>
    <hr>
    <!-- headline -->
    <section class="row">
      <p class="text-center">
        <i class="fa fa-2x fa-car"></i>
      </p>
      <p class="h3 text-center text-uppercase">Best Customer Support Available</p>
      <p class="text-center">We work hard so you don't have to Period</p>
      <p class="lead text-center">Have a question, need support? We're open 24/7/365</p>
      <p class="lead text-center">Multilingual customer support staff</p>
      <hr>
    </section>

    <!-- Phone calls -->
    <section class="row">
      <p>
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
        </span>

        Call us <a href="#">+1-205-265-7527</a> <a href="#">+1-205-BOKSKAR</a>
      </p>
      <ul class="list-unstyled">
        <li>General Customer Support Extention: 611</li>
        <li>Direct Phone Link - Press to connect: <mark>TODO</mark></li>
        <li>Member Services Customer Support Extention: 311</li>
        <li>Elite Level Extention: 312</li>
        <li>Gold Level Extention: 313</li>
        <li>Silver Level Extention: 314</li>
      </ul>
      <hr>
    </section>

    <!-- Video Calls -->
    <section class="row">
      <p>
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
        </span>
        Video Phone
        <ul class="list-unstyled">
          <li>Direct Video Link - Press to connect: <mark>TODO</mark></li>
        </ul>
      </p>
      <hr>
    </section>

    <!-- Chat -->
    <section class="row">
      <p>
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
        </span>
        Chat with us
      </p>
      <ul class="list-unstyled">
        <li>Direct Chat Link - Press to connect: <mark>TODO</mark></li>
      </ul>
      <hr>
    </section>

    <!-- emails -->
    <section class="row">
      <p>
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
        Email us <a href="#">customersupport@bokskar.com</a><br>
        <small>Web Email Pop up - Outlook|Gmail|Yahoo</small>
      </p>
      <hr>
    </section>

    <!-- Support ticket -->
    <section class="row">

      <div class="container">
        <div class="row"><span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-headphones fa-stack-1x fa-inverse"></i>
          </span>
          Web Support Ticket
        </div>

        <!-- BWST form -->
        <div class="row">
          <p class="h3 text-center">BOKSKar Web Support Tickets [BWST]</p>
          <p class="text-center"><small>Ticket Response Time: <strong>15 Minutes</strong></small></p>
          <br>

          <form>
            <div class="form-horizontal">
              <div class="form-group">
                <!-- From -->
                <label for="bwst-from" class="control-label col-sm-2">From</label>
                <div class="col-sm-3">
                  <input id="bwst-from" type="text" class="form-control" placeholder="name@company.com"/>
                </div>

                <!-- Phone -->
                <label class="control-label col-sm-1" for="bwst-phone">Phone</label>
                <div class="col-sm-2">
                  <input id="bwst-phone" type="text" class="form-control" placeholder="123-456-7890"/>
                </div>

                <!-- Account -->
                <label class="control-label col-sm-2 col-md-1" for="bwst-account">Account</label>
                <div class="col-sm-2 col-md-3">
                  <input type="text" class="form-control" placeholder="123-ABC-D45E-6789-FG"/>
                </div>
              </div>
            </div><!--.form-horizontal -->

            <div class="form-horizontal">
              <!-- Subject -->
              <div class="form-group">
                <label class="col-sm-2 control-label" for="bwst-subject">Subject</label>
                <div class="col-sm-10">
                  <input id="bwst-subject" type="text" class="form-control" />
                </div>
              </div>

              <!-- Concern -->
              <div class="form-group">
                <label class="col-sm-2 control-label" for="bwst-concern">Concern</label>
                <div class="col-sm-10">
                  <textarea id="bwst-concern" class="form-control" rows="5" placeholder="Please enter as much detail information as possible, so we can better understand the concern."></textarea>
                </div>
              </div>

            </div><!--.form-horizontal -->
          </form>

        </div>
      </div>

      <hr>
    </section>

    <!-- bottom section -->
    <section class="row cards">

      <!-- We work here -->
      <div class="col-sm-6 col-md-3">
        <p class="text-center">
          <i class="fa fa-2x fa-heart"></i><br>
          <span class="h4">We work here.</span><br>
          100% NA Customer Support <br>
          100% SA Customer Support <br>
          100% EU Customer Support <br>
          Multilingual Team members
        </p>
      </div>

      <!-- Help is on the way -->
      <div class="col-sm-6 col-md-3">
        <p class="text-center">
          <i class="fa fa-2x fa-road"></i><br>
          <span class="h4">Help is on the way</span><br>
          24/7/365 Roadside Assistance <br>
          24/7/365 Vehicle Replacement <br>
          Maintenance Free Service <br>
          Global OnStar Support
        </p>
      </div>

      <!-- At your service -->
      <div class="col-sm-6 col-md-3">
        <p class="text-center">
          <i class="fa fa-2x fa-dropbox"></i><br>
          <span class="h4">At Your Service</span><br>
          24/7/365 Valet Services <br>
          3 Levels of Concierge Services <br>
          Direct Link Video or Voice Services
        </p>
      </div>

      <!-- State of the art -->
      <div class="col-sm-6 col-md-3">
        <p class="text-center">
          <i class="fa fa-2x fa-clock-o"></i><br>
          <span class="h4">State of the Art.</span><br>
          24/7/365 Support Center <br>
          Secure Cloud Computing <br>
          Local Time Support
        </p>
      </div>
    </section>

  </div>
</div>
