  <!-- Header bar -->
    <header>
      <span class="h3 title">Account</span>
      <span class="info">Hi, John Smith <img src="http://placehold.it/32x32" alt="profile picture" class="img-circle"></span>
    </header>

    <!-- Wrapper for both sidebar and content-pane -->
    <div class="wrapper clearfix">

      <!-- sidebar -->
      <nav class="sidebar">
        <ul class="nav">
          <!-- First item will be used as menu toggle -->
          <li><a href="#">Dashboard Menu <span id="sidenav-toggle-btn" class="pull-right fa fa-lg fa-bars inversed"></span></a></li>
          <li><a href="">My Garage <span class="pull-right fa fa-lg fa-car"></span></a></li>
          <li><a href="">Account <span class="pull-right fa fa-lg fa-home"></span></a></li>
          <li><a href="">Profile <span class="pull-right fa fa-lg fa-user"></span></a></li>
          <li><a href="">Upgrades <span class="pull-right fa fa-lg fa-upload"></span></a></li>
          <li><a href="">Support <span class="pull-right fa fa-lg fa-headphones"></span></a></li>
          <li><a href="">History <span class="pull-right fa fa-lg fa-clock-o"></span></a></li>
          <li><a href="">Settings <span class="pull-right fa fa-lg fa-cogs"></span></a></li>
          <li><a href="">Share <span class="pull-right fa fa-lg fa-share-alt"></span></a></li>
          <li><a href="">Promotions <span class="pull-right fa fa-lg fa-bullhorn"></span></a></li>
        </ul>
      </nav>

      <!-- main content -->
      <main class="main-content">

        <div class="container-fluid">
          <h1>Hello</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptates, facilis! Quis cum, quaerat ipsa repudiandae pariatur praesentium molestiae placeat voluptatem facere autem voluptatum sequi quia perferendis ipsam, labore nostrum?</p>
        </div>

      </main>

    </div><!-- .wrapper.clearfix -->

    <!-- TODO: move elsewhere -->
    <script>
      $(document).ready(function() {
        $("#sidenav-toggle-btn").click(function (e) {
          e.preventDefault();
          $(".sidebar").toggleClass("displayed");
        });
      });
    </script>
