<footer id="main-footer" class="row-footer">

  <!-- Sign up banner -->
  <div class="container-fluid sign-up-banner">
    <div class="row">
      <div class="col-sm-10 text-center">
        <h4>Sign up to get up to the minute news, join our program and get a chance to win a free weekend exchange.</h4>
      </div>
      <div class="col-sm-2 text-center">
        <button class="btn btn-primary btn-lg btn-signing" data-toggle="modal" data-target="#sign-up-modal">Sign up</button>
      </div>
    </div>
  </div>

  <!-- Contact links + Tweets -->
  <div class="row info roominess">
    <!-- Investor access -->
    <div class="col-sm-4">
      <h4 class="hightened">Investor access</h4>
      <div class="row bottomless">
        <div class="col-xs-12 form-group bottomless">
          <label class="smaller">General Information:</label><br/>
          <i class="fa fa-envelope"></i> Email: <a href="mailto:investors@bokskar.com">investors@bokskar.com</a>
          <hr class="thin"/>
          <label class="smaller">For investors login access, please contact:</label>
        </div>
      </div>
      <div class="row topless">
        <div class="col-xs-12 form-group bottomless">
          <label class="smaller">Private Investors:</label><br/>
          <label class="smaller">Paul Graham:</label><br/>
          <i class="fa fa-envelope"></i> Email: <a href="mailto:pgraham@bokskar.com">pgraham@bokskar.com</a>
        </div>
      </div>
      <div class="row topless">
        <div class="col-xs-12 form-group bottomless">
          <label class="smaller">Venture Capital:</label><br/>
          <label class="smaller">Ken I. Getmone:</label><br/>
          <i class="fa fa-envelope"></i> Email: <a href="mailto:getmone@bokskar.com">getmone@bokskar.com</a>
        </div>
      </div>
      <div class="row topless">
        <div class="col-xs-12 form-group bottomless">
          <label class="smaller">SEC Filings:</label><br/>
          <i class="fa fa-envelope"></i> Email: <a href="mailto:secfilings@bokskar.com">secfilings@bokskar.com</a>
        </div>
      </div>
    </div>

    <!-- Contact info -->
    <div class="col-sm-4">
      <h4 class="hightened">Contact info</h4>
      <div class="row">
        <div class="col-xs-12">
          <span class="glyphicon glyphicon-map-marker"></span> 1, South Orange Avenue | 5th Floor<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Orlando, FL 32801<br/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span class="glyphicon glyphicon-phone"></span> Phone: +1.800.BOKSKAR [265.7527]
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label>Customer Support: Ext. 611</label><br/>
          <i class="fa fa-envelope"></i> Email: <a href="mailto:customersupport@bokskar.com">customersupport@bokskar.com</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label>Member Services: Ext. 311</label><br/>
          <i class="fa fa-envelope"></i> Email: <a href="mailto:membership@bokskar.com">membership@bokskar.com</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label>Press Information | Media Request: Ext. 411</label><br/>
          <i class="fa fa-envelope"></i> Email: <a href="mailto:press@bokskar.com">press@bokskar.com</a>
        </div>
      </div>
    </div>

    <!-- Twitter feed -->
    <div class="col-sm-4">
      <h4 class="hightened">Recent tweets</h4>
      <a class="twitter-timeline" data-height="300" data-aria-polite="assertive" data-chrome="noheader transparent nofooter noborders" data-theme="dark" data-link-color="#9424d0" href="https://twitter.com/BoksKar"></a>
    </div>
  </div>

  <!-- Copyright -->
  <div class="row copyright">
      <small>
        © Copyright 2016. Powered by BOKSKar Inc. and BOKSKar Financial
        Indemnity Services Corp. All product names, logos, and brands are
        property of their respective owners.<br/>All company, product, service
        and brand names used in this website are for identification purposes
        only. Use of these names, logos, and brands does not imply endorsement.
      </small>
  </div>

  <!-- Social Icons -->
  <div class="row social">
      <ul class="list-inline">
        <li><a href="http://twitter.com/BOKSKAR"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/bokskar/"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/bokskar/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="https://www.linkedin.com/company/bokskar.com"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.youtube.com/watch?v=-rwSPtjbXXY"><i class="fa fa-youtube"></i></a></li>
        <li><a href="mailto:press@bokskar.com"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
  </div>

</footer>
