<footer id="main-footer">
  <!-- Sign up banner -->
  <div class="container-fluid sign-up-banner">
    <div class="row">
      <div class="col-sm-10 text-center">
        <h4>Sign up to get up to the minute news, join our program and get a chance to win a free weekend exchange.</h4>
      </div>
      <div class="col-sm-2 text-center">
        <button class="btn btn-primary btn-lg btn-signing" data-toggle="modal" data-target="#sign-up-modal">Sign up</button>
      </div>
    </div>
  </div><!-- end sign up banner -->

  <!-- Contact info + Twitter feed -->
  <div class="container footer-info">
    <div class="row">
      <!-- left column -->
      <div class="col-sm-4">
        <h4 class="text-uppercase">Investor Access</h4>
        <ul class="list-unstyled">
          <li>General information</li>
          <li><i class="fa fa-envelope fa-fw"></i> Email: <a href="#">investors@bokskar.com</a></li>
          <li><hr></li>
          <li>For investor login access, please contact:</li>
          <li>Private Investors:</li>
          <li>Paul Graham</li>
          <li><i class="fa fa-envelope fa-fw"></i> Email: <a href="#">pgraham@bokskar.com</a></li>
          <li>Venture Capital:</li>
          <li>Ken I. Getmone</li>
          <li><i class="fa fa-envelope fa-fw"></i> Email: <a href="#">getmone@bokskar.com</a></li>
          <li>SEC Filings:</li>
          <li><i class="fa fa-envelope fa-fw"></i> Email: <a href="#">secfilings@bokskar.com</a></li>
        </ul>
      </div>

      <!-- mid column -->
      <div class="col-sm-4">
        <h4 class="text-uppercase">Contact Info</h4>
        <ul class="list-unstyled">
          <li><i class="fa fa-map-marker fa-fw"></i> 1 South Orange Avenue | 5th Flr Orlando, FL 32801</li>
          <li><i class="fa fa-mobile fa-fw"></i> Phone: +1.205.BOKSKAR[265.7527]</li>
          <li>Customer Support: Ext. 611</li>
          <li><i class="fa fa-envelope fa-fw"></i> Email: <a href="#">customersupport@bokskar.com</a></li>
          <li>Member Services: Ext. 311</li>
          <li><i class="fa fa-envelope fa-fw"></i> Email: <a href="#">membership@bokskar.com</a></li>
          <li>Press Information | Media Request: Ext. 411</li>
          <li><i class="fa fa-envelope fa-fw"></i> Email: <a href="#">press@bokskar.com</a></li>
        </ul>
      </div>

      <!-- right column -->
      <div class="col-sm-4">
        <h4 class="text-uppercase">Recent Tweets</h4>
        <a  class="twitter-timeline"
            data-height="300"
            data-aria-polite="assertive"
            data-chrome="noheader nofooter transparent noscrollbar"
            data-theme="dark"
            data-link-color="#9424d0"
            data-border-color="#9424d0"
            href="https://twitter.com/BoksKar">
        </a>
      </div>
    </div>
  </div>

  <!-- Copyright + Social Icons -->
  <div class="footer-bottom container-fluid">
    <!-- Copyright -->
    <div class="row copyright">
      <div class="col-xs-12">
        <p class="h5 text-center">
          <small>© Copyright 2016. Powered by BOKSKar Inc. and BOKSKar Financial
            Indemnity Services Corp. All product names, logos, and brands are
            property of their respective owners.<br/>All company, product, service
            and brand names used in this website are for identification purposes
            only. Use of these names, logos, and brands does not imply endorsement.</small>
        </p>
      </div>
    </div>
    <!-- Social icons -->
    <div class="row social">
        <div class="col-xs-12 text-center">
          <ul class="list-inline">
            <li><a href="http://twitter.com/BOKSKAR"><i class="fa fa-lg fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/bokskar/"><i class="fa fa-lg fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/bokskar/"><i class="fa fa-lg fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-lg fa-pinterest"></i></a></li>
            <li><a href="https://www.linkedin.com/company/bokskar.com"><i class="fa fa-lg fa-linkedin"></i></a></li>
            <li><a href="https://www.youtube.com/watch?v=-rwSPtjbXXY"><i class="fa fa-lg fa-youtube"></i></a></li>
            <li><a href="mailto:press@bokskar.com"><i class="fa fa-lg fa-envelope-o"></i></a></li>
          </ul>
        </div>
    </div>
  </div><!-- end bottom footer -->

</footer>
