<nav class="nav navbar-default navbar-fixed-top" role="navigation">
  <div class="container full-width">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <img src="images/BoksKar Name v4.0 Color.png" title="BOKSKar" alt="BOKSKar_logo" class="logo-bokskar" height="50px"/>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse pull-right">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#index" role="tab" data-toggle="tab">How it works</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#index" role="tab" data-toggle="tab">FAQ</a></li>
        <li><a href="#sign-up" role="tab" data-toggle="tab">Sign up</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#about" role="tab" data-toggle="tab">About Us</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#customer-dashboard" role="tab" data-toggle="tab">Support</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#at-your-service" role="tab" data-toggle="tab">Blog</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="##" role="tab" data-toggle="tab" data-target="#sign-up-modal">Login <span style="display:none" class="glyphicon glyphicon-log-out"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
