<div id="home-page">

  <!-- Sign Up Modal -->
  <div class="modal fade bokskar-modal-lg" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="signUpModalLabel">Sign Up</h4>
        </div>
        <div class="modal-body">
          <p>Content here!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Sign Up Modal -->

  <!-- Header (video loop) -->
  <header class="jumbotron">
    <div class="container text-center">
      <h1>Your Road. Your Life. BOKSkar</h1>
      <a href="#" class="btn btn-primary btn-lg">SIGN UP</a>
    </div>
    <video autoplay loop>
      <source src="https://dl.dropboxusercontent.com/s/4jcc4zhf719zyhj/City_street_time_lapse.mp4?dl=0" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
  </header>
  <!-- end: Header -->

  <!-- Main Content -->
  <main class="container-fluid">
    <!-- Globe -->
    <div class="row">
      <div class="col-xs-12 text-center">
          <span><i class="fa fa-3x fa-globe"></i></span>
      </div>
    </div>

    <!-- Welcome -->
    <div class="row">
      <div class="col-xs-12">
        <hr class="hr-text-welcome" data-content="WELCOME">
        <p class="lead text-center text-primary">
          Today is a great day to save your money, vehicle
          ownership will change forever!
        </p>
      </div>
    </div>

    <!-- 9 Media cards -->
    <div class="row">
      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-globe"></i>
            <strong>Global Access</strong>
            <p>Your global access to any vehicle is limitless.</p>
          </li>
        </ul>
      </div>

      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-thumbs-up"></i>
            <strong>Maintenance Free</strong>
            <p>We maintain your vehicle, and the fleet for life.</p>
          </li>
        </ul>
      </div>

      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-paper-plane"></i>
            <strong>Travel</strong>
            <p>NYC to/from RIO we're always ready.</p>
          </li>
        </ul>
      </div>

      <!-- cleafix: fix alignment -->
      <div class="clearfix visible-lg-block"></div>
      <div class="clearfix visible-md-block"></div>

      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-clock-o"></i>
            <strong>Open 24/7/365</strong>
            <p>Time is important, why close at the speed of life.</p>
          </li>
        </ul>
      </div>

      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-cutlery"></i>
            <strong>We Deliver</strong>
            <p>Relax, we can pick it up or deliver it for you.</p>
          </li>
        </ul>
      </div>

      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-tv"></i>
            <strong>Management</strong>
            <p>Online, Phone or Direct, your chariot awaits.</p>
          </li>
        </ul>
      </div>

      <!-- cleafix: fix alignment -->
      <div class="clearfix visible-lg-block"></div>
      <div class="clearfix visible-md-block"></div>

      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-sliders"></i>
            <strong>Infinite Options</strong>
            <p>Your options is your canvas.</p>
          </li>
        </ul>
      </div>

      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-book"></i>
            <strong>Services For Life</strong>
            <p>Valet for your world.</p>
          </li>
        </ul>
      </div>

      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-heart"></i>
            <strong>Lifetime Support</strong>
            <p>We have your back anywhere in the world.</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- One-payment explained -->
    <div class="row">
      <div class="col-xs-12 text-center">
        <p class="h3 text-capitalize text-primary">BOKSKar = One Payment</p>
        <p class="h3 text-capitalize text-primary">Why pay more?</p>
      </div>
    </div>
    <hr>
    <!-- Flow explained -->
    <div class="row">
      <div class="col-xs-12">
        <h3>BOKSKar is the easiest way to drive your dream vehicle.</h3>
        <p class="">
            We take the headaches out of owning a vehicle by incorporating many of
            the added cost you typically pay for when owning a private or business
            vehicle. With BOKSKar you have ONE payment and that's it. No, REALLY that's it.
            NO more additional vehicle costs or payments. With BOKSKar it's easy
            to own your dream vehicle.
        </p>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-7">
        <h4>Your All-in-One Car Payment includes:</h4>
        <ul>
          <li>Vehicle Loan Payment.</li>
          <li>Full coverage vehicle insurance [All 50 states and US territories<sup>1</sup>]</li>
          <li>Full coverage bumper-to-bumper maintenance / warranty coverage<sup>2</sup>.</li>
          <li>BOKSKar Exchange | Trade | Share program.</li>
          <li>24/7/365 Roadside assistance.</li>
          <li>24/7/365 Valet service.</li>
          <li>24/7/365 Concierge assistance.</li>
        </ul>
      </div>
      <!-- Flow Diagram -->
      <div class="col-sm-5">
        <img src="../images/Customers Payment Flow Diagram v2.png"
             alt="Payment Flow Diagram"
             class="img-responsive">
      </div>
    </div>

    <!-- Carousel -->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <!-- Carousel Plugin -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <!-- 1 -->
            <div class="item active">
              <img src="../images/BooksKar Laptop screenv1.png" alt="...">
              <div class="carousel-caption">
                <span class="h2 text-center">1</span><br>
                <p class="h4">Create an account and tell us who you are.</p>
              </div>
            </div>
            <!-- 2 -->
            <div class="item">
              <img src="../images/BooksKar Laptop screenv1.png" alt="...">
              <div class="carousel-caption">
                <span class="h2 text-center">2</span><br>
                <p class="h4">Tell us who you want us to pay on your behalf.</p>
              </div>
            </div>
            <!-- 3 -->
            <div class="item">
              <img src="../images/BooksKar Laptop screenv1.png" alt="...">
              <div class="carousel-caption">
                <span class="h2 text-center">3</span><br>
                <p class="h4">Select your current providers or select new providers.</p>
              </div>
            </div>
            <!-- 4 -->
            <div class="item">
              <img src="../images/BooksKar Laptop screenv1.png" alt="...">
              <div class="carousel-caption">
                <span class="h2 text-center">4</span><br>
                <p class="h4">Select a payment plan and how long you'll want to pay.</p>
              </div>
            </div>
            <!-- 5 -->
            <div class="item">
              <img src="../images/BooksKar Laptop screenv1.png" alt="...">
              <div class="carousel-caption">
                <span class="h2 text-center">5</span><br>
                <p class="h4">Confirm your providers and payment plan.</p>
              </div>
            </div>
            <!-- 6 -->
            <div class="item">
              <img src="../images/BooksKar Laptop screenv1.png" alt="...">
              <div class="carousel-caption">
                <span class="h2 text-center">6</span><br>
                <p class="h4">Read and eSign your agreement documents and submit.</p>
              </div>
            </div>
            <!-- 7 -->
            <div class="item">
              <img src="../images/BooksKar Laptop screenv1.png" alt="...">
              <div class="carousel-caption">
                <span class="h2 text-center">7</span><br>
                <p class="h4">You are done! Go tell your friends and get a chance to win a free weekend upgrade!</p>              </div>
            </div>

          </div><!-- end carousel inner -->

          <!-- Controls -->
          <span class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </span>
          <span class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </span>
        </div>
      </div>
    </div>
    <!-- end: carousel row -->

    <!-- What we offer -->
    <div class="row">
      <div class="col-xs-12">
        <hr class="hr-text-offer" data-content="WHAT WE OFFER">
      </div>
    </div>

    <!-- 6 Media cards -->
    <div class="row offers">
      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-info-circle"></i>
            <strong>Auto Insurance</strong>
            <p>BOKSKar Full coverage insurance for all vehicles.</p>
            <p>Insurance is already included in your payment.</p>
          </li>
        </ul>
      </div>

      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-wrench"></i>
            <strong>Auto Maintenance</strong>
            <p>Car troubles, no worries your replacement is on its way.</p>
            <p>Maintenance is already included in your payment.</p>
          </li>
        </ul>
      </div>

      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-lightbulb-o"></i>
            <strong>Business Solutions</strong>
            <p>Bar none the best options for your business.</p>
            <p>Why lease or rent?</p>
          </li>
        </ul>
      </div>

      <!-- cleafix: fix alignment -->
      <div class="clearfix visible-lg-block"></div>
      <div class="clearfix visible-md-block"></div>
      <div class="clearfix visible-sm-block"></div>

      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-mobile"></i>
            <strong>24/7 Live Service</strong>
            <p>Call us or message us on the app.</p>
            <p>Why Wait?</p>
          </li>
        </ul>
      </div>

      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-paper-plane-o"></i>
            <strong>Traveling International?</strong>
            <p>Our drivers will pick you up in your car.</p>
            <p>Airport, Train, Ferry or Spaceport.</p>
            <p>Why Rent?</p>
            <p>Valet services is included in your payment.</p>
          </li>
        </ul>
      </div>

      <div class="media-card col-sm-4">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-li fa-lg fa-dropbox"></i>
            <strong>Looking for parking spot?</strong>
            <p>We'll park it, fill it, deliver it or wash it.</p>
            <p>Why Waste Time?</p>
            <p>Valet services is already included in your payment.</p>
          </li>
        </ul>
      </div>
    </div><!-- end media cards -->

  </main>

</div>
