<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10">
      <h1> Welcome! </h1>
      <p>If you would like to speak with us you can call or chat online, we're glad to help
      or you can fill out an application below. <span class="under">Application response in 30 seconds.</span></p>
      <p>For questions on signing up or general related questions on how it works, visit the <a href="#faq">FAQ page</a>.</p>
    </div>
    <div class="col-md-push1">
    </div>
  </div>
</div>
